.main-banner-1 {
    background-image: url("../images/header-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.main-banner-2 {
    background-image: url("../images/header-bg-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.main-banner-3 {
    background-image: url("../images/header-bg-3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
