.results {
	padding-top: 80px;
	// padding-bottom: 80px;
}

.results__fotoreport {
	position: relative;
	padding-bottom: 110px;
	@media (max-width: 768px) {
		padding-bottom: 0;
	}
}

.results__videoreport {
	position: relative;
	padding-bottom: 135px;
	@media (max-width: 768px) {
		padding-bottom: 70px;
	}
}
