.services {
    padding-top: 80px;
    padding-bottom: 45px;
    background-image: url("../images/services-bg.jpg");
    background-size: cover;
    text-align: center;
    @media(max-width: 768px) {
        padding: 40px 0;
    }
}