.social-list {
	display: flex;
	flex-wrap: wrap;
	li {
		margin-right: 20px;
		display: flex;
		a {
			width: 40px;
			height: 40px;
		}
		&:last-child {
			margin-right: 0;
		}
		@media(max-width: 500px) {
			margin-bottom: 20px;
		}
	}
	svg.vk {
		&:hover circle {
			@media (min-width: 768px) {
				fill: $color-dark-blue !important;
			}
		}
	}
	svg {
		&:hover .clr {
			@media (min-width: 768px) {
				fill: $color-dark-blue !important;
			}
		}
	}
}

.price__content {
	p.price__text {
		margin-bottom: 30px;
	}
}
