.social-list-footer {
	display: flex;
	margin-right: -20px;
	li {
		margin-right: 20px;
		width: 34px;
		height: 34px;
		svg {
			&:hover .clr2 {
				fill: $color-light-blue !important;
			}
			&:hover .clr3 {
				fill: $color-white !important;
			}
		}
	}
}
