doctype html
html(lang="ru")
	head
		include pages/head.pug
	body
		.wrapper
			// шапка
			include pages/section-header.pug
			// преимущества
			include pages/section-advantages.pug
			// услуги
			include pages/section-services.pug
			// результаты
			include pages/section-results.pug
			// стоиомость
			include pages/section-price.pug
			// акции
			include pages/section-sale.pug
			// сертификаты
			include pages/section-sertificats.pug
			// инструменты
			include pages/section-instruments.pug
			// что о нас говорят
			include pages/section-about.pug
			// часто задаваемые вопросы
			include pages/section-questions.pug
			// подвал
			include pages/section-footer.pug

		script(src="js/jquery-3.5.0.min.js")
		script(src="js/slick.min.js")
		script(src="js/jquery.fancybox.min.js")
		script(src="js/jquery-ui.js")
		script(src="js/main.js")