doctype html
html(lang="ru")
	head
		include ./head.pug
	body
		.wrapper
			// шапка
			include ./section-header.pug
			// преимущества
			include ./section-advantages.pug
			// услуги
			include ./section-services.pug
			// результаты
			include ./section-results.pug
			// стоиомость
			include ./section-price.pug
			// акции
			include ./section-sale.pug
			// сертификаты
			include ./section-sertificats.pug
			// инструменты
			include ./section-instruments.pug
			// что о нас говорят
			include ./section-about.pug
			// часто задаваемые вопросы
			include ./section-questions.pug
			// подвал
			include ./section-footer.pug

		script(src="js/jquery-3.5.0.min.js")
		script(src="js/slick.min.js")
		script(src="js/jquery.fancybox.min.js")
		script(src="js/jquery-ui.js")
		script(src="js/main.js")