section.instruments#anchor7
	.container
		h2.title
			span Наши инструменты
		h2.subtitle.subtitle--mode
			span Моющие средства
		ul.instruments-list.slick-slider-7
			li.item
				.item__wrapper
					span.title Chemspec
					.picture
						img(src="images/instruments/item1.png" alt="")
					p.text Профессиональные средства для чистки мягкой мебели и ковровых покрытий
			li.item
				.item__wrapper
					span.title Pro-Brite
					.picture
						img(src="images/instruments/item2.png" alt="")
					p.text Компания PRO-BRITE производит качественную профессиональную химию по доступным ценам. 
			li.item
				.item__wrapper
					span.title Karcher
					.picture
						img(src="images/instruments/item3.png" alt="")
					p.text Ускорение очистки и  при снижении энергозатрат  лишь некоторые из  преимуществ чистящих средств Kärcher
			li.item
				.item__wrapper
					span.title Бриз
					.picture
						img(src="images/instruments/item4.png" alt="")
					p.text Эффективные профессиональные средства для удаления пятен и запахов
			li.item
				.item__wrapper
					span.title Chemspec
					.picture
						img(src="images/instruments/item1.png" alt="")
					p.text Профессиональные средства для чистки мягкой мебели и ковровых покрытий
			li.item
				.item__wrapper
					span.title Pro-Brite
					.picture
						img(src="images/instruments/item2.png" alt="")
					p.text Компания PRO-BRITE производит качественную профессиональную химию по доступным ценам. 
			li.item
				.item__wrapper
					span.title Karcher
					.picture
						img(src="images/instruments/item3.png" alt="")
					p.text Ускорение очистки и  при снижении энергозатрат  лишь некоторые из  преимуществ чистящих средств Kärcher
			li.item
				.item__wrapper
					span.title Бриз
					.picture
						img(src="images/instruments/item4.png" alt="")
					p.text Эффективные профессиональные средства для удаления пятен и запахов
				
		h2.subtitle.subtitle--mode
			span Оборудование
		ul.instruments-list.instruments-list__second.slick-slider-8
			li.item
				.item__wrapper
					span.title Моющий пылесос Santoemma Sabrina SW15
					.picture
						img(src="images/instruments/item5.png" alt="")
					p.text Профессиональный экстрактор, для уборки тканевых поверхностей (салонов машин, сидений и т.п).
			li.item
				.item__wrapper
					span.title Орбитальная машинка для чистки мебели TWINC Cocraft
					.picture
						img(src="images/instruments/item6.png" alt="")
					p.text Компактная ручная машинка, незаменимый помощник специалиста по чистке обивки диванов, кресел и т.д.
			li.item
				.item__wrapper
					span.title Сушка для мебели Blower Jet Betta 1/2
					.picture
						img(src="images/instruments/item7.png" alt="")
					p.text Новый аппарат для сушки полов и ковровых покрытий, является эффективным способом сушки ковровых покрытий.
			li.item
				.item__wrapper
					span.title Chemspec
					.picture
						img(src="images/instruments/item5.png" alt="")
					p.text Профессиональные средства для чистки мягкой мебели и ковровых покрытий
			li.item
				.item__wrapper
					span.title Pro-Brite
					.picture
						img(src="images/instruments/item6.png" alt="")
					p.text Компания PRO-BRITE производит качественную профессиональную химию по доступным ценам. 
			li.item
				.item__wrapper
					span.title Karcher
					.picture
						img(src="images/instruments/item7.png" alt="")
					p.text Ускорение очистки и  при снижении энергозатрат  лишь некоторые из  преимуществ чистящих средств Kärcher

