section.advantages#anchor1
	.container
		h1.title 
			span НАШИ ПРЕИМУЩЕСТВА
		// список преимущества
		ul.advantages-list.on-desktop
			li
				.advantages-list__head
					span.advantages-list__icn
						img(src="images/advantages/item1.svg" alt="" width="41" height="31")
					span.advantages-list__title Выезд на дом
				.advantages-list__content Выезд мастера на дом, в офис, кафе в день обращения в удобное для Вас время.
			li
				.advantages-list__head
					span.advantages-list__icn
						img(src="images/advantages/item2.svg" alt="" width="39" height="35")
					span.advantages-list__title БЕЗОПАСНОСТЬ
				.advantages-list__content Используем только безвредные для изделий, атмосферы и здоровья людей моющие средства.
			li
				.advantages-list__head
					span.advantages-list__icn
						img(src="images/advantages/item3.svg" alt="" width="40" height="33")
					span.advantages-list__title ФИКСИРОВАННЫЕ ЦЕНЫ
				.advantages-list__content Цена, озвученная нашими менеджерами, не изменяется на месте. Цена включает в себя все необходимые этапы качественной чистки.
			li
				.advantages-list__head
					span.advantages-list__icn
						img(src="images/advantages/item4.svg" alt="" width="38" height="38")
					span.advantages-list__title ДЕТАЛЬНЫЙ ПОДХОД
				.advantages-list__content В зависимости от пятен и типа ткани подбираем требуемое чистящее средство.
			li
				.advantages-list__head
					span.advantages-list__icn
						img(src="images/advantages/item5.svg" alt="" width="40" height="40")
					span.advantages-list__title ДЛЯ ЛЮДЕЙ
				.advantages-list__content  Если что-то почистить нельзя – мы заранее об этом скажем. Но наши мастера не уйдут, пока не сделают всё, что в их силах
			li
				.advantages-list__head
					span.advantages-list__icn
						img(src="images/advantages/item6.svg" alt="" width="40" height="40")
					span.advantages-list__title КАЧЕСТВЕННОЕ ОБОРУДОВАНИЕ
				.advantages-list__content Профессиональное итальянское и немецкое оборудование для быстрой, деликатной и безупречной чистки.

		ul.advantages-list.on-mobile
			li
				button.advantages-list__head.accordion
					span.advantages-list__icn
						img(src="images/advantages/item1.svg" alt="" width="26")
					span.advantages-list__title Выезд на дом
				.advantages-list__content.panel Выезд мастера на дом, в офис, кафе в день обращения в удобное для Вас время.
			li
				button.advantages-list__head.accordion
					span.advantages-list__icn
						img(src="images/advantages/item2.svg" alt="" width="28")
					span.advantages-list__title БЕЗОПАСНОСТЬ
				.advantages-list__content.panel Используем только безвредные для изделий, атмосферы и здоровья людей моющие средства.
			li
				button.advantages-list__head.accordion
					span.advantages-list__icn
						img(src="images/advantages/item3.svg" alt="" width="28")
					span.advantages-list__title ФИКСИРОВАННЫЕ ЦЕНЫ
				.advantages-list__content.panel Цена, озвученная нашими менеджерами, не изменяется на месте. Цена включает в себя все необходимые этапы качественной чистки.
			li
				button.advantages-list__head.accordion
					span.advantages-list__icn
						img(src="images/advantages/item4.svg" alt="" width="22")
					span.advantages-list__title ДЕТАЛЬНЫЙ ПОДХОД
				.advantages-list__content.panel В зависимости от пятен и типа ткани подбираем требуемое чистящее средство.
			li
				button.advantages-list__head.accordion
					span.advantages-list__icn
						img(src="images/advantages/item5.svg" alt="" width="19")
					span.advantages-list__title ДЛЯ ЛЮДЕЙ
				.advantages-list__content.panel  Если что-то почистить нельзя – мы заранее об этом скажем. Но наши мастера не уйдут, пока не сделают всё, что в их силах
			li
				button.advantages-list__head.accordion
					span.advantages-list__icn
						img(src="images/advantages/item6.svg" alt="" width="19")
					span.advantages-list__title КАЧЕСТВЕННОЕ ОБОРУДОВАНИЕ
				.advantages-list__content.panel Профессиональное итальянское и немецкое оборудование для быстрой, деликатной и безупречной чистки.
