section.results#anchor3
	.container
		h1.title 
			span Результаты нашей работы
		h2.subtitle.subtitle--mode
			span Фотоотчет

		.results__fotoreport
			// номер слайда
			.slides-numbers.slides-numbers--3(style="display: block").slick
				button.prev.prev-3
				span.active 01
				i &nbsp; / &nbsp;
				span.total
				button.next.next-3

			// слайдер
			ul.results-list.slick-slider-3.on-desktop
				li.item
					img(src="../images/results/item1.jpg" alt="" width="576" height="450")
					span.after
				li.item
					img(src="../images/results/item2.jpg" alt="" width="576" height="450")
					span.before
				li.item
					img(src="../images/results/item1.jpg" alt="" width="576" height="450")
					span.after
				li.item
					img(src="../images/results/item1.jpg" alt="" width="576" height="450")
					span.before
				li.item
					img(src="../images/results/item2.jpg" alt="" width="576" height="450")
					span.after
				li.item
					img(src="../images/results/item2.jpg" alt="" width="576" height="450")
					span.before


			// слайдер мобильная версия
			.results-list__mobile.slick-slider-10.on-mobile
				.item-wrap
					// switch
					label.switch
						input(type="checkbox")
						span.slider
					ul.items-wrap
						li.item.before-picture.active
							img(src="../images/results/item1.jpg" alt="" width="576" height="450")
							span.after
						li.item.after-picture
							img(src="../images/results/item2.jpg" alt="" width="576" height="450")
							span.before
				.item-wrap
					// switch
					label.switch
						input(type="checkbox")
						span.slider
					ul.items-wrap
						li.item.before-picture.active
							img(src="../images/results/item1.jpg" alt="" width="576" height="450")
							span.after
						li.item.after-picture
							img(src="../images/results/item2.jpg" alt="" width="576" height="450")
							span.before

		.results__videoreport

			// номер слайда
			.slides-numbers.slides-numbers--4(style="display: block").slick
				button.prev.prev-4
				span.active 01
				i &nbsp; / &nbsp;
				span.total
				button.next.next-4

			h2.subtitle.subtitle--mode
				span Видеоотчет
			ul.results-list-2.results-list.slick-slider-4
				li.item
					img(src="../images/results/item-video1.jpg" alt="" width="473" height="290")
				li.item
					img(src="../images/results/item-video2.jpg" alt="" width="473" height="290")
				li.item
					img(src="../images/results/item-video1.jpg" alt="" width="473" height="290")
				li.item
					img(src="../images/results/item-video2.jpg" alt="" width="473" height="290")

