section.about#anchor8
	.container
		h2.title.title--light
			span Что о нас говорят

		// номер слайда
		.slides-numbers.slides-numbers--9(style="display: block").slick
			button.prev.prev-9
			span.active 01
			i &nbsp; / &nbsp;
			span.total
			button.next.next-9

		ul.about-list.slick-slider-9
			li.item
				.about-list__head
					//- .about-list__picture
						img(src="../images/avatar.png" alt="")
					.about-list__description
						span.about-list__title Татьяна Азарова
						//- span.about-list__date 12 янв 2020
				.about-list__content
					p.text Добрый день! После рождения дочери наш кухонный уголок, который давно уже не новый, потерпел "Боевое крещение". Уголок много всего впитал: пюрешки🍧 фрукты🥭🍓🍌соки🧃🍼🍷и многое другое🍕🥫🍫🍯🍰🥘🍅🍗🍔🥞 Пытались застилась, мыть🧴🧽🧼... но все бестолку❌ Посоветовали сделать химчистку, не верилось что будет такой результат, но я в восторге👍🔥 кухонный уголок как новый. Спасибо Вам большое🙏 за Ваш труд! 
				a(href="https://vk.com/46divanov?w=app6326142_-151788283") Ссылка на отзыв

			li.item
				.about-list__head
					//- .about-list__picture
						img(src="../images/avatar.png" alt="")
					.about-list__description
						span.about-list__title Ангелина Пименова
						//- span.about-list__date 12 янв 2020
				.about-list__content
					p.text Заказывала химчистку дивана. Очень довольна. Результат чистки на 5+ диванчик как новый, ни одного пятнышка. Всем рекомендую!!! 
				a(href="https://vk.com/46divanov?w=app6326142_-151788283") Ссылка на отзыв

			li.item
				.about-list__head
					//- .about-list__picture
						img(src="../images/avatar.png" alt="")
					.about-list__description
						span.about-list__title Дмитрий Небытов
						//- span.about-list__date 12 янв 2020
				.about-list__content
					p.text Всех эмоций не передать. Могу сказать, что это мастер своего дела. Спасибо огромное! Работа выполнена в полном объеме и вовремя. Советую всем 
				a(href="https://www.avito.ru/user/766dace0921b80a9bbbf0605f50b3ceb/profile?id=1310625758&src=item&page_from=from_item_card_icon&iid=1310625758") Ссылка на отзыв
					
			li.item
				.about-list__head
					//- .about-list__picture
						img(src="../images/avatar.png" alt="")
					.about-list__description
						span.about-list__title Пользователь avito.ru
						//- span.about-list__date 12 янв 2020
				.about-list__content
					p.text Химчисткой очень довольны, всё равно в назначенное время,аккуратно, тщательно и качественно выполнено.Диван был грязный, в пятнах, теперь абсолютно чистый. Всем рекомендуем!!!
				a(href="https://www.avito.ru/user/766dace0921b80a9bbbf0605f50b3ceb/profile?id=1310625758&src=item&page_from=from_item_card_icon&iid=1310625758") Ссылка на отзыв
