section.questions#anchor9
	.container
		h1.title
			span ЧАСТО ЗАДАВАЕМЫЕ ВОПРОСЫ
		.accordion
			h3
				span.num 01
				span Сколько сохнет мебель после чистки?
			.panel
				span.title Заголовок
				p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum adipisci deleniti quasi rerum accusamus! Voluptatem neque suscipit exercitationem deserunt consequatur id quibusdam, debitis, blanditiis, distinctio accusantium sapiente sit dolorem velit fuga ipsa ad illum tenetur reprehenderit adipisci obcaecati soluta doloribus error sed ab? Rem nobis libero nihil, et inventore magni!
			h3
				span.num 02
				span Устраняете ли неприятные запахи?
			.panel
				span.title Заголовок
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto similique esse libero reprehenderit temporibus iste quibusdam quod earum quos recusandae!
			h3
				span.num 03
				span Как проводится химчистка?
			.panel
				span.title Да, конечно!
				p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia, fugiat!
			//- .block.to-show
			h3
				span.num 04
				span Безопасно ли это для здоровья?
			.panel
				span.title Заголовок
				p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro tempore dolorum ducimus eligendi dignissimos rerum excepturi temporibus magni aspernatur fugiat. Aperiam illum eos iure quam doloremque dolorem provident culpa neque dicta mollitia porro nemo numquam repellat eveniet possimus, eligendi quidem quis at repellendus eius deserunt ipsum. In, provident? Alias earum quibusdam nulla dicta optio nemo voluptatibus recusandae voluptates enim corrupti, qui sequi beatae iure? Ipsa a sit dolorem accusantium quos modi quidem hic sed excepturi totam, optio, suscipit odio deserunt!
			h3
				span.num 05
				span Что входит в стоимость?
			.panel
				span.title Заголовок
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi sed corporis labore tempora hic quasi facilis alias voluptates et quae nulla, iste voluptate possimus sapiente! Veniam libero placeat veritatis ducimus?
			h3
				span.num 06
				span Все пятна уйдут?
			.panel
				span.title Заголовок
				p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id laborum, modi odit harum repellendus iste. Id nesciunt quaerat tenetur labore ab. Omnis aspernatur facilis pariatur a fugit voluptas minima amet, similique ea corrupti quidem eos ut eaque sint iste beatae?
			h3
				span.num 07
				span Работаете с Юридическими лицами?
			.panel
				span.title Заголовок
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati adipisci eligendi atque rerum dolorum odio provident inventore accusantium nostrum saepe.
			h3
				span.num 08
				span Выезжаете в область?
			.panel
				span.title Заголовок
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, hic. Illo nemo eius ducimus laboriosam facere culpa sint molestiae eos excepturi quam, ipsam labore aut. Explicabo impedit deserunt, fugiat voluptas inventore culpa quasi adipisci perferendis totam quo commodi corrupti amet.
			button.btn.on-mobile#show-all Посмотреть все
