section.services#anchor2
	.container
		h1.title.title--light 
			span Услуги

		// номер слайда
		.slides-numbers.slides-numbers--2(style="display: block").slick
			button.prev.prev-2
			span.active 01
			i &nbsp; / &nbsp;
			span.total
			button.next.next-2

		// карусель услуги
		ul.services-list.slick-slider-2
			li.item
				span.title Стулья
				.picture
					img(src="images/services/item1.png" alt="")
				.bottom-content
					.bottom-content__row
						span.on-desktop Стоимость:
						span.on-mobile Цена:
						span от 100 р.
					.bottom-content__row
						span.on-desktop Срок чистки:
						span.on-mobile Срок:
						span 30 мин.
				button.btn.on-desktop Узнать цену
				button.btn.on-mobile Цена
			li.item
				span.title Кухонные уголки
				.picture
					img(src="images/services/item2.png" alt="")
				.bottom-content
					.bottom-content__row
						span.on-desktop Стоимость:
						span.on-mobile Цена:
						span от 100 р.
					.bottom-content__row
						span.on-desktop Срок чистки:
						span.on-mobile Срок:
						span 30 мин.
				button.btn.on-desktop Узнать цену
				button.btn.on-mobile Цена
			li.item
				span.title Автомобильные сиденья
				.picture
					img(src="images/services/item3.png" alt="")
				.bottom-content
					.bottom-content__row
						span.on-desktop Стоимость:
						span.on-mobile Цена:
						span от 100 р.
					.bottom-content__row
						span.on-desktop Срок чистки:
						span.on-mobile Срок:
						span 30 мин.
				button.btn.on-desktop Узнать цену
				button.btn.on-mobile Цена
			li.item
				span.title Ковровые покрытия
				.picture
					img(src="images/services/item4.png" alt="")
				.bottom-content
					.bottom-content__row
						span.on-desktop Стоимость:
						span.on-mobile Цена:
						span от 100 р.
					.bottom-content__row
						span.on-desktop Срок чистки:
						span.on-mobile Срок:
						span 30 мин.
				button.btn.on-desktop Узнать цену
				button.btn.on-mobile Цена
			li.item
				span.title
				.picture
					img(src="images/services/item1.png" alt="")
				.bottom-content
					.bottom-content__row
						span.on-desktop Стоимость:
						span.on-mobile Цена:
						span от 100 р.
					.bottom-content__row
						span.on-desktop Срок чистки:
						span.on-mobile Срок:
						span 30 мин.
				button.btn.on-desktop Узнать цену
				button.btn.on-mobile Цена
			li.item
				span.title
				.picture
					img(src="images/services/item2.png" alt="")
				.bottom-content
					.bottom-content__row
						span.on-desktop Стоимость:
						span.on-mobile Цена:
						span от 100 р.
					.bottom-content__row
						span.on-desktop Срок чистки:
						span.on-mobile Срок:
						span 30 мин.
				button.btn.on-desktop Узнать цену
				button.btn.on-mobile Цена
			li.item
				span.title
				.picture
					img(src="images/services/item3.png" alt="")
				.bottom-content
					.bottom-content__row
						span.on-desktop Стоимость:
						span.on-mobile Цена:
						span от 100 р.
					.bottom-content__row
						span.on-desktop Срок чистки:
						span.on-mobile Срок:
						span 30 мин.
				button.btn.on-desktop Узнать цену
				button.btn.on-mobile Цена
			li.item
				span.title
				.picture
					img(src="images/services/item4.png" alt="")
				.bottom-content
					.bottom-content__row
						span.on-desktop Стоимость:
						span.on-mobile Цена:
						span от 100 р.
					.bottom-content__row
						span.on-desktop Срок чистки:
						span.on-mobile Срок:
						span 30 мин.
				button.btn.on-desktop Узнать цену
				button.btn.on-mobile Цена
		button.btn Заказать химчистку