section.sertificats#anchor6
	.container
		h1.title.title--light
			span Сертификаты

		// номер слайда
		.slides-numbers.slides-numbers--6(style="display: block").slick
			button.prev.prev-6
			span.active 01
			i &nbsp; / &nbsp;
			span.total
			button.next.next-6
		
		ul.sertificats-list.slick-slider-6
			li
				a(href="images/sertificats/item1.jpg" data-fancybox="gallery")
					img(src="images/sertificats/item1.jpg", alt="")
			li
				a(href="images/sertificats/item1.jpg" data-fancybox="gallery")
					img(src="images/sertificats/item1.jpg", alt="")
			li
				a(href="images/sertificats/item1.jpg" data-fancybox="gallery")
					img(src="images/sertificats/item1.jpg", alt="")
			li
				a(href="images/sertificats/item1.jpg" data-fancybox="gallery")
					img(src="images/sertificats/item1.jpg", alt="")
			li
				a(href="images/sertificats/item1.jpg" data-fancybox="gallery")
					img(src="images/sertificats/item1.jpg", alt="")
			li
				a(href="images/sertificats/item1.jpg" data-fancybox="gallery")
					img(src="images/sertificats/item1.jpg", alt="")
			li
				a(href="images/sertificats/item1.jpg" data-fancybox="gallery")
					img(src="images/sertificats/item1.jpg", alt="")
