section.questions#anchor9
	.container
		h2.title
			span ЧАСТО ЗАДАВАЕМЫЕ ВОПРОСЫ
		.accordion
			h3
				span.num 01
				span.head Сколько сохнет мебель после чистки?
			.panel
				span.title ВСЕ ИНДИВИДУАЛЬНО
				p В среднем мебель сохнет за 6-12 часов, это зависит от материала, степени загрязненности, температуры воздуха и его циркуляции в помещении.
				p Если у вас дома есть обогреватель или вентилятор, это поможет ускорить процесс высыхания.
			h3
				span.num 02
				span.head Устраняете ли неприятные запахи?
			.panel
				span.title ДА, КОНЕЧНО!
				p Да, у нас есть специальные средства.
				p В деле удаления запаха самое главное – не просто замаскировать его, а именно убрать источник. Мы вам в этом поможем.
			h3
				span.num 03
				span.head Как проводится химчистка?
			.panel
				span.title ХИМЧИСТКА МЕБЕЛИ ПРОВОДИТСЯ В НЕСКОЛЬКО ЭТАПОВ:
				p 1. При необходимости пылесосим вашу мебель
				p 2. Наносим специальный раствор, который «растворяет» загрязнения
				p 3. Специальным аппаратом с другим средством вымываем всю растворенную грязь
				p 4. Удаляем специфические пятна или запахи
				p 5. Промываем мебель кондиционером, который нейтрализует и удаляет все остатки химии
				
			h3.on-desktop
				span.num 04
				span.head Безопасно ли это для здоровья?
			.panel
				span.title БЕЗУСЛОВНО!
				p Для работы мы используем только специализированные средства, они гипоаллергенные и безопасные для детей и животных. У нас есть все сертификаты.
				p Кроме того, мы – одна из немногих компаний, в которой мастера промывают мебель специальным кондиционером, который нейтрализует остатки моющих средств.
			h3.on-desktop
				span.num 05
				span.head Что входит в стоимость?
			.panel
				span.title ВСЕ НЕОБХОДИМЫЕ ЭТАПЫ ЧИСТКИ
				p Стоимость, озвученная менеджером по телефону или в переписке – окончательная.
				p Она ни в коем случае не изменится. В стоимость включены все необходимые этапы чистки.
				p Мастер приезжает в назначенное время, проводит чистку и только после работы вы оплачиваете услугу.
			h3.on-desktop
				span.num 06
				span.head Все пятна уйдут?
			.panel
				span.title ДЕЛАЕМ ВСЕ ВОЗМОЖНОЕ
				p Многие компании дают гарантию, что очистят все пятна, и диван «будет как новенький». Это недобросовестно и нечестно. Пятна бывают разные по происхождению и возрасту. Некоторые пятна не поддаются удалению. Например, могут возникнуть проблемы со старой кровью (от 2х лет).
				p Также многое зависит от материала дивана. Например, некоторые ткани вообще нельзя чистить водными средствами. Однако, некоторые загрязнения без воды убрать невозможно.
				p И ещё один фактор – это самостоятельная чистка. Некоторые пятна и загрязнения от бытовых средств «консервируются» на обивке и тоже могут доставить немало хлопот. Но, мы делаем все возможное, чтобы избавить вашу мебель от всех загрязнений. А в тяжелых случаях мы обязательно предупредим о том, что результат может быть не идеальным.
			h3.on-desktop
				span.num 07
				span.head Работаете с Юридическими лицами?
			.panel
				span.title ПОДБЕРЕМ УДОБНЫЕ ВАРИАНТЫ РЕШЕНИЯ ЗАДАЧИ
				p Да, оплата возможна на наш расчётный счёт.
				p Присылайте нашим менеджерам масштаб работы – рассчитаем специальные условия и подберем удобные варианты решения задачи.
				p Например, мы можем приехать ночью, пока ваше заведение закрыто.
			h3.on-desktop
				span.num 08
				span.head Выезжаете в область?
			.panel
				span.title СТАРАЕМСЯ ДЛЯ ВАС
				p Да. Сообщите нашим менеджерам населённый пункт, и они рассчитают вам стоимость выезда.
				p Стоимость выезда можно разделить между соседями, если заказать чистку на один день.
			
		.accordion.on-mobile
			h3
				span.num 04
				span.head Безопасно ли это для здоровья?
			.panel
				span.title БЕЗУСЛОВНО!
				p Для работы мы используем только специализированные средства, они гипоаллергенные и безопасные для детей и животных. У нас есть все сертификаты.
				p Кроме того, мы – одна из немногих компаний, в которой мастера промывают мебель специальным кондиционером, который нейтрализует остатки моющих средств.
			h3
				span.num 05
				span.head Что входит в стоимость?
			.panel
				span.title ВСЕ НЕОБХОДИМЫЕ ЭТАПЫ ЧИСТКИ
				p Стоимость, озвученная менеджером по телефону или в переписке – окончательная.
				p Она ни в коем случае не изменится. В стоимость включены все необходимые этапы чистки.
				p Мастер приезжает в назначенное время, проводит чистку и только после работы вы оплачиваете услугу.
			h3
				span.num 06
				span.head Все пятна уйдут?
			.panel
				span.title ДЕЛАЕМ ВСЕ ВОЗМОЖНОЕ
				p Многие компании дают гарантию, что очистят все пятна, и диван «будет как новенький». Это недобросовестно и нечестно. Пятна бывают разные по происхождению и возрасту. Некоторые пятна не поддаются удалению. Например, могут возникнуть проблемы со старой кровью (от 2х лет).
				p Также многое зависит от материала дивана. Например, некоторые ткани вообще нельзя чистить водными средствами. Однако, некоторые загрязнения без воды убрать невозможно.
				p И ещё один фактор – это самостоятельная чистка. Некоторые пятна и загрязнения от бытовых средств «консервируются» на обивке и тоже могут доставить немало хлопот. Но, мы делаем все возможное, чтобы избавить вашу мебель от всех загрязнений. А в тяжелых случаях мы обязательно предупредим о том, что результат может быть не идеальным.
			h3
				span.num 07
				span.head Работаете с Юридическими лицами?
			.panel
				span.title ПОДБЕРЕМ УДОБНЫЕ ВАРИАНТЫ РЕШЕНИЯ ЗАДАЧИ
				p Да, оплата возможна на наш расчётный счёт.
				p Присылайте нашим менеджерам масштаб работы – рассчитаем специальные условия и подберем удобные варианты решения задачи.
				p Например, мы можем приехать ночью, пока ваше заведение закрыто.
			h3
				span.num 08
				span.head Выезжаете в область?
			.panel
				span.title СТАРАЕМСЯ ДЛЯ ВАС
				p Да. Сообщите нашим менеджерам населённый пункт, и они рассчитают вам стоимость выезда.
				p Стоимость выезда можно разделить между соседями, если заказать чистку на один день.			//- h3.on-desktop
			//- 	span.num 04
			//- 	span.head Безопасно ли это для здоровья?
			//- .panel
			//- 	span.title БЕЗУСЛОВНО!
			//- 	p Для работы мы используем только специализированные средства, они гипоаллергенные и безопасные для детей и животных. У нас есть все сертификаты.
			//- 	p Кроме того, мы – одна из немногих компаний, в которой мастера промывают мебель специальным кондиционером, который нейтрализует остатки моющих средств.
			//- h3.on-desktop
			//- 	span.num 05
			//- 	span.head Что входит в стоимость?
			//- .panel
			//- 	span.title ВСЕ НЕОБХОДИМЫЕ ЭТАПЫ ЧИСТКИ
			//- 	p Стоимость, озвученная менеджером по телефону или в переписке – окончательная.
			//- 	p Она ни в коем случае не изменится. В стоимость включены все необходимые этапы чистки.
			//- 	p Мастер приезжает в назначенное время, проводит чистку и только после работы вы оплачиваете услугу.
			//- h3.on-desktop
			//- 	span.num 06
			//- 	span.head Все пятна уйдут?
			//- .panel
			//- 	span.title ДЕЛАЕМ ВСЕ ВОЗМОЖНОЕ
			//- 	p Многие компании дают гарантию, что очистят все пятна, и диван «будет как новенький». Это недобросовестно и нечестно. Пятна бывают разные по происхождению и возрасту. Некоторые пятна не поддаются удалению. Например, могут возникнуть проблемы со старой кровью (от 2х лет).
			//- 	p Также многое зависит от материала дивана. Например, некоторые ткани вообще нельзя чистить водными средствами. Однако, некоторые загрязнения без воды убрать невозможно.
			//- 	p И ещё один фактор – это самостоятельная чистка. Некоторые пятна и загрязнения от бытовых средств «консервируются» на обивке и тоже могут доставить немало хлопот. Но, мы делаем все возможное, чтобы избавить вашу мебель от всех загрязнений. А в тяжелых случаях мы обязательно предупредим о том, что результат может быть не идеальным.
			//- h3.on-desktop
			//- 	span.num 07
			//- 	span.head Работаете с Юридическими лицами?
			//- .panel
			//- 	span.title ПОДБЕРЕМ УДОБНЫЕ ВАРИАНТЫ РЕШЕНИЯ ЗАДАЧИ
			//- 	p Да, оплата возможна на наш расчётный счёт.
			//- 	p Присылайте нашим менеджерам масштаб работы – рассчитаем специальные условия и подберем удобные варианты решения задачи.
			//- 	p Например, мы можем приехать ночью, пока ваше заведение закрыто.
			//- h3.on-desktop
			//- 	span.num 08
			//- 	span.head Выезжаете в область?
			//- .panel
			//- 	span.title СТАРАЕМСЯ ДЛЯ ВАС
			//- 	p Да. Сообщите нашим менеджерам населённый пункт, и они рассчитают вам стоимость выезда.
			//- 	p Стоимость выезда можно разделить между соседями, если заказать чистку на один день.


		button.btn.on-mobile#show-all Посмотреть все
