section.about#anchor8
	.container
		h2.title.title--light
			span Что о нас говорят

		// номер слайда
		.slides-numbers.slides-numbers--9(style="display: block").slick
			button.prev.prev-9
			span.active 01
			i &nbsp; / &nbsp;
			span.total
			button.next.next-9

		ul.about-list.slick-slider-9
			li.item
				.about-list__head
					.about-list__picture
						img(src="../images/avatar.png" alt="")
					.about-list__description
						span.about-list__title Иван Петров
						span.about-list__date 12 янв 2020
				.about-list__content
					p.text Спасибо Вам большое, качество супер, результат поразил) Купил, привёз домой. Включил — ничего. Даже биос не грузит. Не определяет устройств вывода изображения. Не пищит, возможно и писиспикера нет. Быстро воспринимает информацию, для игр особенно хорош с большим разрешением. Удобный дизайн корпуса.
			li.item
				.about-list__head
					.about-list__picture
						img(src="../images/avatar.png" alt="")
					.about-list__description
						span.about-list__title Александра Краснопольская
						span.about-list__date 12 янв 2020
				.about-list__content
					p.text Покупал на замену старому компьютеру, так как упал на замену старому компьютеру, так как новый компьютер средней мощности работупал на замену старому компьютеру, так как новый компьютер средней мощности работупал на замену старому компьютеру, так как новый компьютер средней мощности работновый компьютер средней мощности работает лучше чем старый компьютер с большой мощностью. Не ошибся, SSD диск быстро загружает ОС. Все бухгалтерские дела и документацию перенес на этот компьютер. Постоянно приходится подключатся Через удаленный доступ, он работает почти круглосуточно. 
			li.item
				.about-list__head
					.about-list__picture
						img(src="../images/avatar.png" alt="")
					.about-list__description
						span.about-list__title Иван Петров
						span.about-list__date 12 янв 2020
				.about-list__content
					p.text Спасибо Вам большое, качество супер, результат поразил) Купил, привёз домой. Включил — ничего. Даже биос не грузит. Не определяет устройств вывода изображения. Не пищит, возможно и писиспикера нет. Быстро воспринимает информацию, для игр особенно хорош с большим разрешением. Удобный дизайн корпуса.
			li.item
				.about-list__head
					.about-list__picture
						img(src="../images/avatar.png" alt="")
					.about-list__description
						span.about-list__title Александра Краснопольская
						span.about-list__date 12 янв 2020
				.about-list__content
					p.text Покупал на замену старому компьютеру, так как упал на замену старому компьютеру, так как новый компьютер средней мощности работупал на замену старому компьютеру, так как новый компьютер средней мощности работупал на замену старому компьютеру, так как новый компьютер средней мощности работновый компьютер средней мощности работает лучше чем старый компьютер с большой мощностью. Не ошибся, SSD диск быстро загружает ОС. Все бухгалтерские дела и документацию перенес на этот компьютер. Постоянно приходится подключатся Через удаленный доступ, он работает почти круглосуточно. 
