section.sertificats#anchor6
	.container
		h2.title.title--light
			span Сертификаты

		// номер слайда
		.slides-numbers.slides-numbers--6(style="display: block").slick
			button.prev.prev-6
			span.active 01
			i &nbsp; / &nbsp;
			span.total
			button.next.next-6
		
		ul.sertificats-list.slick-slider-6
			li
				a(href="images/sertificats/item1.jpg" data-fancybox="gallery")
					img(src="images/sertificats/item1.jpg", alt="")
			li
				a(href="images/sertificats/item2.jpg" data-fancybox="gallery")
					img(src="images/sertificats/item2.jpg", alt="")
			li
				a(href="images/sertificats/item3.jpg" data-fancybox="gallery")
					img(src="images/sertificats/item3.jpg", alt="")
			li
				a(href="images/sertificats/item4.jpg" data-fancybox="gallery")
					img(src="images/sertificats/item4.jpg", alt="")
			li
				a(href="images/sertificats/item5.jpg" data-fancybox="gallery")
					img(src="images/sertificats/item5.jpg", alt="")
			li
				a(href="images/sertificats/item6.jpg" data-fancybox="gallery")
					img(src="images/sertificats/item6.jpg", alt="")
			li
				a(href="images/sertificats/item7.jpg" data-fancybox="gallery")
					img(src="images/sertificats/item7.jpg", alt="")
			li
				a(href="images/sertificats/item8.jpg" data-fancybox="gallery")
					img(src="images/sertificats/item8.jpg", alt="")
			li
				a(href="images/sertificats/item9.jpg" data-fancybox="gallery")
					img(src="images/sertificats/item9.jpg", alt="")
			li
				a(href="images/sertificats/item10.jpg" data-fancybox="gallery")
					img(src="images/sertificats/item10.jpg", alt="")
			li
				a(href="images/sertificats/item11.jpg" data-fancybox="gallery")
					img(src="images/sertificats/item11.jpg", alt="")
			li
				a(href="images/sertificats/item12.jpg" data-fancybox="gallery")
					img(src="images/sertificats/item12.jpg", alt="")
			li
				a(href="images/sertificats/item13.jpg" data-fancybox="gallery")
					img(src="images/sertificats/item13.jpg", alt="")
			li
				a(href="images/sertificats/item14.jpg" data-fancybox="gallery")
					img(src="images/sertificats/item14.jpg", alt="")
			li
				a(href="images/sertificats/item15.jpg" data-fancybox="gallery")
					img(src="images/sertificats/item15.jpg", alt="")
