section.sale#anchor5
	.container
		h2.title
			span Акции и скидки

		// номер слайда
		.slides-numbers.slides-numbers--5(style="display: block").slick
			button.prev.prev-5
			span.active 01
			i &nbsp; / &nbsp;
			span.total
			button.next.next-5

		.sale__wrapper.slick-slider-5
			.sale__item(style="background-image:url('images/sale-bg.jpg')")
				h2.sale__title СКИДКА 10% НА ПОВТОРНЫЕ ЗАКАЗЫ
				p.sale__text Если Вы к нам уже обращались, мы предоставим Вам скидку.
				p.sale__text Чтобы Ваша мебель всегда была идеально чистая
			.sale__item(style="background-image:url('images/sale-bg2.jpg')")
				h2.sale__title БОЛЬШЕ ЧИСТИМ - МЕНЬШЕ ПЛАТИМ
				p.sale__text при чистке нескольких предметов в одном заказе дополнительные скидки