*,
*::before,
*::after {
	box-sizing: inherit;
	outline: none;
}

html {
	box-sizing: border-box;
}

body {
	font-family: $font-mont;
	color: $color-black;
	font-size: 16px;
	line-height: 1.2;
	overflow-x: hidden;
}

img {
	max-width: 100%;
	height: auto;
}

h1,
h2,
h3,
h4,
p {
	padding: 0;
	margin: 0;
}

ul,
li {
	padding: 0;
	margin: 0;
	list-style: none;
}
ol {
	padding-left: 0;
}

.container {
	max-width: 1200px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
	box-sizing: border-box;
}

button.btn {
	font-size: 16px;
	font-weight: 500;
	background-color: $color-light-blue;
	border: none;
	border-radius: 40px;
	padding: 25px 75px;
	text-transform: uppercase;
	color: $color-white;
	&:hover {
		@media (min-width: 768px) {
			background-color: $color-dark-blue;
		}
	}
	@media (max-width: 768px) {
		font-size: 12px;
		padding: 15px 25px;
	}
}

section {
	position: relative;
}

.on-desktop {
	@media (max-width: 769px) {
		display: none !important;
	}
}

.on-mobile {
	@media (min-width: 769px) {
		display: none !important;
	}
}
